@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li><a href="/event/register/spring-2025">Register for Spring 2025</a></li>
    <li><a href="/event/register/fall-2025">Fall 2025 Event</a></li>
    <li><a href="/Event/Register">General Registration</a></li>
</ul>
@section Scripts{
    <partial name="_NavEvent" />
}